<!-- Overtime Index -->
@{
    ViewData["Title"] = "Import Overtime";
}
<div class="container-fluid" style="padding-top:10px">
    <div class="info-box bg-dark">
        <div class="info-box-content">
            <h3 class="info-box-text">IMPORT OVERTIMES</h3>
        </div>
    </div>

    <div class="card card-dark">
        <div class="card-header">
            <span class="card-title">Select File</span>
            <div class="card-tools">
                <button type="button" class="btn btn-dark" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-dark btn-sm" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <form>
                <div class="form-row">
                    <label>Select Year</label>
                    <select id="select_ots_year" class="form-control">
                        @* Generate By JavaScript *@
                    </select>
                </div>
                <br />
                <div class="form-row">
                    <label for="select_ots_job_number">Job Number</label>
                    <select id="select_ots_job_number" class="form-control">
                        @* Generate By JavaScript *@
                    </select>
                </div>
                <br />
                <div class="form-row">
                    <label>Select Month</label>
                    <select id="select_ots_month" class="form-control">
                        @* Generate By JavaScript *@
                    </select>
                </div>
                <br />
                <div id="div_file" class="form-row" style="display:none">
                    <label id="import_file_label">Select File</label>
                    <input id="import_file" class="form-control-file" type="file" />
                </div>
            </form>
        </div>
    </div>

    <div id="card_upload" class="card card-dark" style="display:none">
        <div class="card-header">
            <span class="card-title">Uploaded Content</span>
            <div class="card-tools">
                <button type="button" class="btn btn-dark" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-dark btn-sm" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <label for="job_id">Job ID</label>
            <input id="job_id" class="form-control" type="text" disabled />
            <label for="year">Year</label>
            <input id="year" class="form-control" type="text" disabled />
            <label for="week_time">Month</label>
            <input id="week_time" class="form-control" type="text" disabled />
            <br />
            <table id="table_overtimes" class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Employee ID</th>
                        <th>OT 1.5</th>
                        <th>OT 3.0</th>
                        <th>Total OT</th>
                    </tr>
                </thead>
                <tbody>
                    @* Generate By JavaScript *@
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <button id="btn_confirm_import" class="btn btn-primary" type="button" style="float:right">
                Import
            </button>
        </div>
    </div>

</div>

@section Scripts
{
    <script type="text/javascript">
        var table;
        var jobs;

        $(document).ready(function () {
            GetJobNumbers();
            GenerateYearOptions();
            GenerateMonthOptions();
        })

        function GenerateYearOptions() {
            $('#select_ots_year').find('option').remove();
            var str = '<option disabled selected>Please Select Year</option>';
            var current_year = new Date();
            for (var i = 0; i < 10; i++) {
                var year = parseInt(current_year.getFullYear()) - i;
                str += '<option value="' + year + '">' + year + '</option>';
            }
            $('#select_ots_year').append(str);
        }

        function GetJobNumbers() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetJobNumbers", "ImportOvertime")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {

                },
                success: function (response) {
                    GenerateJobNumberOptions(response);
                }
            })
        }

        $('#select_ots_year').on('change', function () {
            if ($('#select_ots_year').val() != null && $('#select_ots_job_number').val() != null && $('#select_ots_month').val() != null) {
                $('#div_file').css('display', 'block');
            }
            else {
                $('#div_file').css('display', 'none');
            }
        });

        $('#select_ots_job_number').on('change', function () {
            if ($('#select_ots_year').val() != null && $('#select_ots_job_number').val() != null && $('#select_ots_month').val() != null) {
                $('#div_file').css('display', 'block');
            }
            else {
                $('#div_file').css('display', 'none');
            }
        });

        $('#select_ots_month').on('change', function () {
            if ($('#select_ots_year').val() != null && $('#select_ots_job_number').val() != null && $('#select_ots_month').val() != null) {
                $('#div_file').css('display', 'block');
            }
            else {
                $('#div_file').css('display', 'none');
            }
        });

        function GenerateJobNumberOptions(job_id) {
            $('#select_ots_job_number').find('option').remove();
            var str = '<option disabled selected>Please Select Job Number</option>';
            for (var i = 0; i < job_id.length; i++) {
                str += '<option value="' + job_id[i] + '">' + job_id[i].substring(0, 3) + '-' + job_id[i].substring(3, job_id[i].length) + '</option>';
            }
            $('#select_ots_job_number').append(str);
        }

        function GenerateMonthOptions() {
            var months = [
                "JAN 1", "JAN 2", "FEB 1", "FEB 2", "MAR 1", "MAR 2", "APR 1", "APR 2", "MAY 1", "MAY 2", "JUN 1", "JUN 2",
                "JUL 1", "JUL 2", "AUG 1", "AUG 2", "SEP 1", "SEP 2", "OCT 1", "OCT 2", "NOV 1", "NOV 2", "DEC 1", "DEC 2"
            ];
            $('#select_ots_month').find('option').remove();
            var str = '<option disabled selected>Please Select Month</option>';
            for (var i = 0; i < months.length; i++) {
                str += '<option value="' + months[i] + '">' + months[i] + '</option>';
            }
            $('#select_ots_month').append(str);
        }

        $('#import_file').on('change', async function () {
            var fileExtension = ['xls', 'xlsx'];
            var filename = $('#import_file').val();

            if (filename.length == 0) {
                alert("Please Select a File");
            }
            else {
                var extension = filename.replace(/^.*\./, '');
                if ($.inArray(extension, fileExtension) == -1) {
                    alert("Please select only excel files.");
                }
            }

            var fdata = new FormData();
            var fileupload = $('#import_file').get(0);
            var files = fileupload.files;

            var j = $('#select_ots_job_number').val();
            var y = $('#select_ots_year').val();
            var m = $('#select_ots_month').val();

            fdata.append(files[0].name, files[0]);
            $('#import_file_label').text(files[0].name);

            await $.ajax({
                type: "POST",
                url: '@Url.Action("SetJobDetails", "ImportOvertime")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { j, y, m },
            });

            await $.ajax({
                type: "POST",
                url: "ImportOvertime/Import",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: fdata,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.length == 0)
                        alert('Some error occured while uploading');
                    else {
                        //console.log("Response");
                        //console.log(response);
                        jobs = response;
                        GenUploadData();
                    }
                },
            });
        });

        function GenUploadData() {
            var mm = [" ", "JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
            $('#card_upload').show();
            $('#job_id').val(jobs[0].job_id);
            $('#year').val(jobs[0].recording_time.substring(0, 4));
            $('#week_time').val(mm[jobs[0].month] + ' ' + jobs[0].week);

            var datas = [];
            for (var i = 0; i < jobs.length; i++) {
                datas.push([
                    jobs[i].recording_time,
                    jobs[i].employee_id,
                    jobs[i].ot_1_5,
                    jobs[i].ot_3,
                    jobs[i].ot_sum
                ]);
            }

            if (table != null)
                $('#table_overtimes').DataTable().destroy();

            table = $('#table_overtimes').DataTable({
                data: datas,
                pagingType: "full_numbers",
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]]
            });
        }

        $('#btn_confirm_import').on('click', function () {
            ConfirmImport();
        });

        function ConfirmImport() {
            $('#btn_confirm_import').attr('disabled', true);
            $('#modal_upload').modal("show");
            $.ajax({
                type: "POST",
                url: '@Url.Action("ConfirmImport", "ImportOvertime")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {

                },
                success: function (response) {

                }
            })
        }

    </script>
}